<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/8f0026c7cf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="mainHeader">
        <div class="mainHeaderTopBar">
            <a href="/"><img src="./images/logo-mercado-liebre.svg" class="logotipo"></a>
            <div class="Busqueda">
                <div class="cuadroSearch">
                    <form action="" method="">
                        <input type="text" name="buscar" value="Buscar productos, marcas y más" class="search"> 
                    </form>
                </div>
                <div class="bottonSearch">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <h2 class="headerTopBarText">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjetas de crédito
            </h2>
        </div>
        <div class="buttonHamburger">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="headerNavBar">
            <ul class="navBarLeft">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navBarRight">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i> </i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="./images/img-home-banner.jpg" alt="imagen banner" class="banner">
        </div>
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" class="productImg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" class="productImg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div id="pie">
            <section>
                <i class="fab fa-cc-visa"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="fas fa-box-open"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <i class="fas fa-shield-alt"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </section>
        </div>
        <section id="copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>