<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio' }) %>

<body>
    <!-- Header -->
		<%- include('partials/header') %>
    <main>
        <!-- Banner -->
        <div>
            <img src="./images/img-home-banner.jpg" alt="imagen banner" class="banner">
        </div>
        <!-- /Banner -->

        <!-- Ultima visita -->
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" class="productImg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" class="productImg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="./images/img-macbook-pro-2019.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="./images/img-samsung-galaxy-s10.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="./images/img-tv-samsung-smart.jpg">
                <div class="mainArticle">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <!-- footer -->
			<%- include('partials/footer') %>
    <!-- /footer -->
</body>

</html>