<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/8f0026c7cf.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="mainHeader">
        <div class="mainHeaderTopBar">
            <a href="/"><img src="./images/logo-mercado-liebre.svg" class="logotipo"></a>
            <div class="Busqueda">
                <div class="cuadroSearch">
                    <form action="" method="">
                        <input type="text" name="buscar" value="Buscar productos, marcas y más" class="search">
                    </form>
                </div>
                <div class="bottonSearch">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <h2 class="headerTopBarText">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjetas de crédito
            </h2>
        </div>
        <a href="#" class="buttonHamburger">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="headerNavBar">
            <ul class="navBarLeft">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navBarRight">
                <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i> </i></a></li>
                <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i> </a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="titulo">Completa tus datos</h3>
        <form class="loginForm" name="loginForm" method="POST" action="">
            <label>
                <div>
                    <p>Nombre</p>
                    <input type="text" value="" name="firstName" pattern="[A-Za-z]{1,15}" title="Por favor, ingrese un nombre válido" required>
                </div>
            </label>
            <label>
                <div>
                    <p>Apellido</p>
                    <input type="text" value="" name="secondName" pattern="[A-Za-z]{1,15}" title="Por favor, ingrese un apellido válido" required>
                </div>
            </label>
            <div><label>Departamento</label>
                <select value="departamento" name="departamento" class="departamento">
                    <option selected="" value="Bogotá">Bogotá</option>
                    <option value="">-</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Arauca">Arauca</option>
                    <option value="Barranquilla">Barranquilla</option>
                    <option value="Bogotá">Bogotá</option>
                    <option value="Bucaramanga">Bucaramanga</option>
                    <option value="Cali">Cali</option>
                    <option value="Cartagena">Cartagena</option>
                    <option value="Cúcuta">Cúcuta</option>
                    <option value="Florencia">Florencia</option>
                    <option value="Ibagué">Ibagué</option>
                    <option value="Leticia">Leticia</option>
                    <option value="Manizales">Manizales</option>
                    <option value="Medellín">Medellín</option>
                    <option value="Mitú">Mitú</option>
                    <option value="Mocoa">Mocoa</option>
                    <option value="Montería">Montería</option>
                    <option value="Neiva">Neiva</option>
                    <option value="Pasto">Pasto</option>
                    <option value="Pereira">Pereira</option>
                    <option value="Popayán">Popayán</option>
                    <option value="Puerto Carreño">Puerto Carreño</option>
                    <option value="Puerto Inírida">Puerto Inírida</option>
                    <option value="Quibdó">Quibdó</option>
                    <option value="Riohacha">Riohacha</option>
                    <option value="San Andrés">San Andrés</option>
                    <option value="San José del Guaviare">San José del Guaviare</option>
                    <option value="Santa Marta">Santa Marta</option>
                    <option value="Sincelejo">Sincelejo</option>
                    <option value="Tunja">Tunja</option>
                    <option value="Valledupar">Valledupar</option>
                    <option value="Villavicencio">Villavicencio</option>
                    <option value="Yopal">Yopal</option>
                </select>
            </div>
            <label>
                <div>
                    <p>E-mail</p>
                    <input type="email" value="" name="email" required>
                </div>
            </label>
            <label>
                <div>
                    <p>Contraseña</p>
                    <input type="password" value="" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Debe contener al menos, un número, una mayúscula, una minúscula. Mínimo 8 caracteres" required>
                </div>
            </label>
            <div class="botonContinuar">
                <button type="submit" name="continuar" value="continuar">Continuar</button>
            </div>
        </form>
    </main>
</body>

</html>