*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
/*---->HEADER<----*/
.mainHeader{
    background-color: #eac926;
    padding: 10px;
}
.mainHeaderTopBar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.logotipo{
    width: 60%;
    display: flex;
    margin: auto;
}
.Busqueda .cuadroSearch{
    width: 80%;
}
.search{
    background-color: white;
    border: rgb(56, 56, 56);
    width: 100%;
    height: 35px;
    padding: 5px;
    font-size: 20px;
    color: gray;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
}
.bottonSearch{
    background-color: rgb(255, 255, 255);
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-left: 3px;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;

}
.Busqueda{
    display: flex;
    justify-content: center;
    margin:auto;
    align-items: center;
    margin: 0px 0px 0px 10px;
}
.headerTopBarText{
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.buttonHamburger{
    background-color: rgb(0, 0, 83);
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.headerNavBar{
    display: none;
}

.headerNavBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerNavBar .navBarRight li a i{
    margin-left: 5px;
}

.headerNavBar a{
    text-decoration: none;
    color: rgb(36, 36, 36);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.banner{
    width: 100%;
}

/*---->MAIN<----*/
main{
    width: 100%;
    background-color: #ebebeb;
    margin: auto;
    padding-bottom: 20px;
}
h3{
    font-size: 24px;
    margin: 10px;
    padding: 0;
    text-align: center;
    color: #666;
}

p{
    font-size: 12px;
}

.precio{
    font-size: 18px;
    margin:0%;
}

.descuento{
    font-size: 16px;
    font-weight: normal;
    margin:0%;
}
.descripcion{
    font-size: 16px;
    color: #666;
}

main section article{
    background-color: #fff;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 0px rgba(168,168,168,1);
    border-radius: 5px 5px 5px 5px;
}

main section article img{
    width: 100%;
}

main section article i, .descuento{
    color: #39b54a;
}
article div{
    position: relative;
}
article div i{
    width: 30px;
    height: 30px;
    border-radius: 150px;
    border: 1px solid rgb(180, 180, 180);
    padding: 5px 0 0 5px;
    position: absolute;
    right: 15%;
    top: -20
}

main section article div{
    padding-left: 10px;
}

/*---->FOOTER<----*/
footer{
    padding-top: 10px;
    background-color: white;
}
footer section p, footer section h4{
    margin: 0;
    padding: 0;
}

footer section{
    padding-top: 10px;
}

#pie section{
    text-align: center;
}

#pie h4{
    color:rgb(36, 36, 36);
    font-size: 20px;
    font-weight: 100px;
    padding: 5px;
}

#pie p{
    font-size: 16px;
    color: rgb(105, 105, 105);
    padding: 3px;
}

#pie i{
    font-size: 50px;
    color: #eac926;
}

#copyright{
    text-align: center;
}

/* ---> REGISTER <---*/
.registroForm div .perfil label{
    width: 60%;
    font-size: 18px;
}
.registroForm div .perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.registroForm div label{
    font-size: 18px;
    vertical-align: middle;
}

.registroForm div label input{
    width: 20px;
    height: 20px;
}

.registroForm label div input{
    font-size: 16px;
}

.registroForm .botonesLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.registroForm .botonEnviar, .registroForm .botonCancelar{
    width: 40%;
    border: none;
}


/* ---> LOGIN <--- */
.loginForm, .registroForm{
    background-color:#fff;
    width: 85%;
    margin: auto;
    margin-bottom: 3%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.titulo{
    padding:20px 0px;
    margin: 0;
}
.loginForm div, .registroForm div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.loginForm div p, .loginForm div label, .registroForm div p{
    font-size: 18px;
    color: rgb(73, 73, 73);
}

.loginForm div input, .loginForm div select, .registroForm div .form{
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    background-color: white;
}

.botonContinuar button, .botonEnviar button, .botonCancelar button{
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(38, 38, 247);
    color: white;
}


/*--->TABLET<---*/
@media (min-width: 768px){
    .logotipo{
        display: block;
        width: 200px;
        margin: 0;
    }

    .mainHeaderTopBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .Busqueda .cuadroSearch{
        width: 80%;
    }
    .Busqueda{
        width: 60%;
    }
    .headerTopBarText{
        width: 350px;
        text-align: right;
        font-size: 25px;
    }

    .buttonHamburger{
        display: none;
    }

    .headerNavBar{
        display: flex;
        justify-content: space-between;
    }

    .headerNavBar ul {
        display: flex;
        margin-top: 8px;
    }
    .headerNavBar li {
        margin: 0 5px;
    }

    main section{
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
    }

    main section article{
        margin-left: 10px;
        width: 22%;
    }

    footer{
        padding-left: 10px;
    }

    #pie{
        display: flex;
        flex-direction: row;
    }
    

/* REGISTER */
.registroForm div .perfil label{
    width: 30%;
    font-size: 18px;
}

.loginForm, .registroForm{
    width: 60%;
}
.registroForm div .perfil{
    justify-content: flex-start;
}
}